@font-face {
  font-family: 'TTTravels-Bold';
  src: url('../fonts/TTTravelsBold/TTTravels-Bold.woff2') format('woff2')
      /* Modern Browsers */,
    url('../fonts/TTTravelsBold/TTTravels-Bold.woff') format('woff')
      /* Modern Browsers */,
    url('../fonts/TTTravelsBold/TTTravels-Bold.ttf') format('truetype')
      /* Safari, Android, iOS */,
    url('../fonts/TTTravelsBold/TTTravels-Bold.svg#TTTravels-Bold')
      format('svg') /* Legacy iOS */;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TTTravels-DemiBold';
  src: url('../fonts/TTTravels-DemiBold/TTTravels-DemiBold.woff2')
      format('woff2') /* Modern Browsers */,
    url('../fonts/TTTravels-DemiBold/TTTravels-DemiBold.woff') format('woff')
      /* Modern Browsers */,
    url('../fonts/TTTravels-DemiBold/TTTravels-DemiBold.ttf') format('truetype')
      /* Safari, Android, iOS */,
    url('../fonts/TTTravels-DemiBold/TTTravels-DemiBold.svg#TTTravels-Bold')
      format('svg') /* Legacy iOS */;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TTTravels-Light';
  src: url('../fonts/TTTravels-Light/TTTravels-Light.woff2') format('woff2')
      /* Modern Browsers */,
    url('../fonts/TTTravels-Light/TTTravels-Light.woff') format('woff')
      /* Modern Browsers */,
    url('../fonts/TTTravels-Light/TTTravels-Light.ttf') format('truetype')
      /* Safari, Android, iOS */,
    url('../fonts/TTTravels-Light/TTTravels-Light.svg#TTTravels-Bold')
      format('svg') /* Legacy iOS */;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TTTravels-Medium';
  src: url('../fonts/TTTravels-Medium/TTTravels-Medium.woff2') format('woff2')
      /* Modern Browsers */,
    url('../fonts/TTTravels-Medium/TTTravels-Medium.woff') format('woff')
      /* Modern Browsers */,
    url('../fonts/TTTravels-Medium/TTTravels-Medium.ttf') format('truetype')
      /* Safari, Android, iOS */,
    url('../fonts/TTTravels-Medium/TTTravels-Medium.svg#TTTravels-Bold')
      format('svg') /* Legacy iOS */;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTTravels-Regular';
  src: url('../fonts/TTTravels-Regular/TTTravels-Regular.woff2') format('woff2')
      /* Modern Browsers */,
    url('../fonts/TTTravels-Regular/TTTravels-Regular.woff') format('woff')
      /* Modern Browsers */,
    url('../fonts/TTTravels-Regular/TTTravels-Regular.ttf') format('truetype')
      /* Safari, Android, iOS */,
    url('../fonts/TTTravels-Regular/TTTravels-Regular.svg#TTTravels-Bold')
      format('svg') /* Legacy iOS */;
  font-weight: normal;
  font-style: normal;
}
